In [7]:
import os
import pickle
import time
import argparse

import numpy as np
import pandas as pd

from hyperopt import fmin, tpe, hp, Trials, STATUS_OK

from statsforecast import StatsForecast
from statsforecast.models import (
    naive,
    seasonal_naive, 
    auto_arima, 
    auto_arima_f, 
    forecast_arima
)

from src.losses.numpy import mae, mse
from src.experiments.utils import hyperopt_tunning

import matplotlib.pyplot as plt

In [8]:
def main(args):

    #----------------------------------------------- Load Data -----------------------------------------------#
    Y_df = pd.read_csv(f'./data/{args.dataset}/M/df_y.csv')

    X_df = None
    S_df = None

    print('Y_df: ', Y_df.head())
    if args.dataset == 'ETTm2':
        len_val = 11520
        len_test = 11520
    if args.dataset == 'Exchange':
        len_val = 760
        len_test = 1517
    if args.dataset == 'ECL':
        len_val = 2632
        len_test = 5260
    if args.dataset == 'traffic':
        len_val = 1756
        len_test = 3508
    if args.dataset == 'weather':
        len_val = 5270
        len_test = 10539
    if args.dataset == 'ili':
        len_val = 97
        len_test = 193

    #---------------------------------------------- Directories ----------------------------------------------#
    output_dir = f'./results/multivariate/{args.dataset}_{args.horizon}/NHITS/'

    os.makedirs(output_dir, exist_ok = True)
    assert os.path.exists(output_dir), f'Output dir {output_dir} does not exist'
    
    hyperopt_file = output_dir + f'hyperopt_{args.experiment_id}.p'    
    
    n_series = len(Y_df.unique_id.unique())
    Y_df['ds'] = pd.to_datetime(Y_df['ds'])
    
    # Test set predictions
    model = StatsForecast(Y_df[['unique_id', 'ds', 'y']].set_index('unique_id'),
                          models=[(seasonal_naive, args.seasonality)],
                          freq=args.freq, n_jobs=-1)
    forecasts = model.cross_validation(h=args.horizon, 
                                       n_windows=None, step_size=1,
                                       test_size=len_test)
    forecasts['unique_id'] = forecasts.index
    forecasts = forecasts.reset_index(drop=True)
    
    y_true = forecasts['y'].values
    y_hat  = forecasts[f'seasonal_naive_season_length-{args.seasonality}'].values
    
    y_true = y_true.reshape(n_series, -1, args.horizon)
    y_hat  = y_hat.reshape(n_series, -1, args.horizon)
    
    #return forecasts, y_true, y_hat
    losses= {'dataset': args.dataset,
             'horizon': args.horizon,
             'mse': mse(y=y_true, y_hat=y_hat),
             'mae': mae(y=y_true, y_hat=y_hat)}
    
    #with open(hyperopt_file, "wb") as f:
    #    pickle.dump(trials, f)    
    
    return losses
    
    #pickle.dump(trials, f)

# source ~/anaconda3/etc/profile.d/conda.sh
# conda activate nixtla
# CUDA_VISIBLE_DEVICES=0 python nhits_multivariate.py --hyperopt_max_evals 10 --experiment_id "eval_train"

In [9]:
args=pd.Series(dict(experiment_id='seasonal_naive'))

if __name__ == '__main__':
    
    horizons = [96, 192, 336, 720]
    ILI_horizons = [24, 36, 48, 60]
#     datasets = ['ETTm2', 'ECL', 'Exchange', 'traffic', 'weather', 'ili',]
#     seasonalities = [96, 96, 7, 168, 144, 52]
#     freqs = ['15min','15min','D','H','10min','W']
    datasets = ['ETTm2', 'Exchange', 'weather', 'ili',]
    seasonalities = [96, 7, 144, 52]
    freqs = ['15min', 'D', '10min','W']
    #datasets = ['ili']
    #seasonalities = [52]
    #freqs = ['W']
    
    losses_list = []
    for dataset, seasonality, freq in\
            zip(datasets, seasonalities, freqs):
        # Horizon
        if dataset == 'ili':
            horizons_dataset = ILI_horizons
        else:
            horizons_dataset = horizons
        for horizon in horizons_dataset:
            print(50*'-', dataset, 50*'-')
            print(50*'-', horizon, 50*'-')
            start = time.time()
            args.dataset = dataset
            args.horizon = horizon
            args.seasonality = seasonality
            args.freq = freq
            losses = main(args)
            losses_list.append(losses)
            print('Time: ', time.time() - start)

-------------------------------------------------- ETTm2 --------------------------------------------------
-------------------------------------------------- 96 --------------------------------------------------
Y_df:                      ds unique_id         y
0  2016-07-01 00:00:00      HUFL -0.041413
1  2016-07-01 00:00:00      HULL  0.040104
2  2016-07-01 00:00:00      MUFL -0.599211
3  2016-07-01 00:00:00      MULL -0.393536
4  2016-07-01 00:00:00      LUFL  0.695804
Time:  6.612730979919434
-------------------------------------------------- ETTm2 --------------------------------------------------
-------------------------------------------------- 192 --------------------------------------------------
Y_df:                      ds unique_id         y
0  2016-07-01 00:00:00      HUFL -0.041413
1  2016-07-01 00:00:00      HULL  0.040104
2  2016-07-01 00:00:00      MUFL -0.599211
3  2016-07-01 00:00:00      MULL -0.393536
4  2016-07-01 00:00:00      LUFL  0.695804
Time:  9.822413206100464
-------------------------------------------------- ETTm2 --------------------------------------------------
-------------------------------------------------- 336 --------------------------------------------------
Y_df:                      ds unique_id         y
0  2016-07-01 00:00:00      HUFL -0.041413
1  2016-07-01 00:00:00      HULL  0.040104
2  2016-07-01 00:00:00      MUFL -0.599211
3  2016-07-01 00:00:00      MULL -0.393536
4  2016-07-01 00:00:00      LUFL  0.695804
Time:  15.348627090454102
-------------------------------------------------- ETTm2 --------------------------------------------------
-------------------------------------------------- 720 --------------------------------------------------
Y_df:                      ds unique_id         y
0  2016-07-01 00:00:00      HUFL -0.041413
1  2016-07-01 00:00:00      HULL  0.040104
2  2016-07-01 00:00:00      MUFL -0.599211
3  2016-07-01 00:00:00      MULL -0.393536
4  2016-07-01 00:00:00      LUFL  0.695804
Time:  30.91549801826477
-------------------------------------------------- Exchange --------------------------------------------------
-------------------------------------------------- 96 --------------------------------------------------
Y_df:             ds unique_id         y
0  1990-01-01         0  0.606785
1  1990-01-01         1 -0.361671
2  1990-01-01         2  0.735367
3  1990-01-01         3 -1.164373
4  1990-01-01         4  2.851890
Time:  2.2774100303649902
-------------------------------------------------- Exchange --------------------------------------------------
-------------------------------------------------- 192 --------------------------------------------------
Y_df:             ds unique_id         y
0  1990-01-01         0  0.606785
1  1990-01-01         1 -0.361671
2  1990-01-01         2  0.735367
3  1990-01-01         3 -1.164373
4  1990-01-01         4  2.851890
Time:  2.8284220695495605
-------------------------------------------------- Exchange --------------------------------------------------
-------------------------------------------------- 336 --------------------------------------------------
Y_df:             ds unique_id         y
0  1990-01-01         0  0.606785
1  1990-01-01         1 -0.361671
2  1990-01-01         2  0.735367
3  1990-01-01         3 -1.164373
4  1990-01-01         4  2.851890
Time:  3.5145959854125977
-------------------------------------------------- Exchange --------------------------------------------------
-------------------------------------------------- 720 --------------------------------------------------
Y_df:             ds unique_id         y
0  1990-01-01         0  0.606785
1  1990-01-01         1 -0.361671
2  1990-01-01         2  0.735367
3  1990-01-01         3 -1.164373
4  1990-01-01         4  2.851890
Time:  4.583330154418945
-------------------------------------------------- weather --------------------------------------------------
-------------------------------------------------- 96 --------------------------------------------------
Y_df:                      ds    unique_id         y
0  2020-01-01 00:10:00     p (mbar)  2.114257
1  2020-01-01 00:10:00     T (degC) -1.459980
2  2020-01-01 00:10:00     Tpot (K) -1.607935
3  2020-01-01 00:10:00  Tdew (degC) -1.052596
4  2020-01-01 00:10:00       rh (%)  0.990128
Time:  11.884626150131226
-------------------------------------------------- weather --------------------------------------------------
-------------------------------------------------- 192 --------------------------------------------------
Y_df:                      ds    unique_id         y
0  2020-01-01 00:10:00     p (mbar)  2.114257
1  2020-01-01 00:10:00     T (degC) -1.459980
2  2020-01-01 00:10:00     Tpot (K) -1.607935
3  2020-01-01 00:10:00  Tdew (degC) -1.052596
4  2020-01-01 00:10:00       rh (%)  0.990128
Time:  17.328699111938477
-------------------------------------------------- weather --------------------------------------------------
-------------------------------------------------- 336 --------------------------------------------------
Y_df:                      ds    unique_id         y
0  2020-01-01 00:10:00     p (mbar)  2.114257
1  2020-01-01 00:10:00     T (degC) -1.459980
2  2020-01-01 00:10:00     Tpot (K) -1.607935
3  2020-01-01 00:10:00  Tdew (degC) -1.052596
4  2020-01-01 00:10:00       rh (%)  0.990128
Time:  26.796689987182617
-------------------------------------------------- weather --------------------------------------------------
-------------------------------------------------- 720 --------------------------------------------------
Y_df:                      ds    unique_id         y
0  2020-01-01 00:10:00     p (mbar)  2.114257
1  2020-01-01 00:10:00     T (degC) -1.459980
2  2020-01-01 00:10:00     Tpot (K) -1.607935
3  2020-01-01 00:10:00  Tdew (degC) -1.052596
4  2020-01-01 00:10:00       rh (%)  0.990128
Time:  55.05000901222229
-------------------------------------------------- ili --------------------------------------------------
-------------------------------------------------- 24 --------------------------------------------------
Y_df:             ds        unique_id         y
0  2002-01-01   % WEIGHTED ILI -0.421499
1  2002-01-01  %UNWEIGHTED ILI -0.472442
2  2002-01-01          AGE 0-4 -0.981641
3  2002-01-01         AGE 5-24 -0.692621
4  2002-01-01         ILITOTAL -0.819695
Time:  1.6779711246490479
-------------------------------------------------- ili --------------------------------------------------
-------------------------------------------------- 36 --------------------------------------------------
Y_df:             ds        unique_id         y
0  2002-01-01   % WEIGHTED ILI -0.421499
1  2002-01-01  %UNWEIGHTED ILI -0.472442
2  2002-01-01          AGE 0-4 -0.981641
3  2002-01-01         AGE 5-24 -0.692621
4  2002-01-01         ILITOTAL -0.819695
Time:  1.3799500465393066
-------------------------------------------------- ili --------------------------------------------------
-------------------------------------------------- 48 --------------------------------------------------
Y_df:             ds        unique_id         y
0  2002-01-01   % WEIGHTED ILI -0.421499
1  2002-01-01  %UNWEIGHTED ILI -0.472442
2  2002-01-01          AGE 0-4 -0.981641
3  2002-01-01         AGE 5-24 -0.692621
4  2002-01-01         ILITOTAL -0.819695
Time:  1.3798377513885498
-------------------------------------------------- ili --------------------------------------------------
-------------------------------------------------- 60 --------------------------------------------------
Y_df:             ds        unique_id         y
0  2002-01-01   % WEIGHTED ILI -0.421499
1  2002-01-01  %UNWEIGHTED ILI -0.472442
2  2002-01-01          AGE 0-4 -0.981641
3  2002-01-01         AGE 5-24 -0.692621
4  2002-01-01         ILITOTAL -0.819695
Time:  1.3706490993499756

In [10]:
eval_df = pd.DataFrame(losses_list)

In [11]:
eval_df

     dataset  horizon       mse       mae
0      ETTm2       96  0.263149  0.300543
1      ETTm2      192  0.320563  0.336559
2      ETTm2      336  0.376372  0.370016
3      ETTm2      720  0.470845  0.421547
4   Exchange       96  0.086209  0.204812
5   Exchange      192  0.172805  0.295294
6   Exchange      336  0.311953  0.403080
7   Exchange      720  0.819348  0.681318
8    weather       96  0.316707  0.287956
9    weather      192  0.342557  0.304936
10   weather      336  0.382691  0.330935
11   weather      720  0.443127  0.370076
12       ili       24  2.563768  1.004200
13       ili       36  2.265501  0.956793
14       ili       48  2.142458  0.941274
15       ili       60  1.917433  0.939163